<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header">
      <h4 class="modal-title">
        <i class="fa fa-pencil"></i>
        Напишите мне
      </h4>
    </div>
    <div class="box-body">
      <%= form_for @message do |form| %>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <%= form.email_field :email, id: :message_email, class:"form-control", placeholder:"Ваш Email" %>
        </div>
        </br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= form.text_field :full_name, id: :message_full_name, class:"form-control", placeholder:"Ваше Имя" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-commenting"></i></span>
          <%= form.text_field :subject, id: :message_subject, class:"form-control", placeholder:"Тема обращения" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-comment"></i></span>
          <%= form.text_area :message_body, id: :message_message_body, class:"form-control", placeholder:"Текст" %>
        </div>
    </div>
    <div class="box-footer clearfix">
      <%= button_tag type: 'submit', class: "pull-right btn btn-primary" do %>
        Отправить
        <i class="fa fa-arrow-circle-right"></i>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
