<% if @portfolio_items.exists? %>
  <% @portfolio_items.each do |item|%>
  <div class="col-md-4">
    <div class="box box-primary">
      <div class="box-body">
          <%= image_tag item.preview.url, class: "img-responsive img-rounded" %>
          <h3 class="profile-username text-center"><%= item.title %></h3>
          <p class="text-muted text-center"><%= item.description %></p>
          <ul class="list-group list-group-unbordered">
            <% if item.finished==false %>
            <li class="list-group-item">
              <b>Статус</b><p class="text-red pull-right">Не завершен</p>
            </li>
            <% end %>
            <li class="list-group-item">
              <b>Моя Роль</b><p class="pull-right"><%= item.my_role %></p>
            </li>
          </ul>
          <%= item.technologies %>
        </div>
        <div class="box-footer">
          <%= link_to 'Демо', item.demo, target: :_blank %></br>
          <%= link_to 'Git Репозиторий', item.git_path, target: :_blank %>
        </div>
      </div>
    </div>
  <% end%>
<% else %>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title"><%= @title %></h3>
      </div>
      <div class="box-body">
        К сожалению, в этом разделе пока нет записей. Пожалуйста, загляните позже.
      </div>
    </div>
  </div>
<% end %>
