<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Portfolio</h3>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <td>Title</td>
          <td>Description</td>
          <td>Prview</td>
          <td>Demo_path</td>
          <td>Git_path</td>
          <td>Is Finished?</td>
          <td>Tehnologies</td>
        </tr>
        <% @portfolio_items.each do |item|%>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.description %></td>
          <td><%= item.previw_path %></td>
          <td><%= item.demo %></td>
          <td><%= item.git_path %></td>
          <td><%= item.finished %></td>
          <td><%= item.technologies %></td>
        </tr>
      <% end%>
    </table>
    </div>
    <div class="box-footer">

    </div>
  </div>
</div>
