<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><b>KO`</b>Dev</a>
      </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>">
            <%= link_to 'Обо мне', root_url %>
          </li>
          <% if @portfolio_items.exists? %>
          <li class="<%= 'active' if current_page?(portfolio_path) %>">
            <%= link_to 'Портфолио', portfolio_path %>
          </li>
          <% end %>
          <% if @publications.exists? %>
          <li class="<%= 'active' if current_page?(publications_path) %>">
            <%= link_to 'Статьи', publications_path %>
          </li>
          <% end %>
          <li class="<%= 'active' if current_page?(contacts_path) %>">
            <%= link_to 'Контакты', contacts_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
